
<h1 class="capitalize">{{name}}</h1>

<img src="{{sprites.front_default}}" alt="">

<h3>Type(s): </h3>
    {{#each types}}

    <p>{{type.name}}</p>

    {{/each}}

<div id="stats">
    <h2>Stats:</h2>
    <ul>
        <li>HP: {{stats.hp}}</li>
        <li>ATTACK: {{stats.attack}}</li>
        <li>DEFENSE: {{stats.defense}}</li>
        <li>SP. ATTACK: {{stats.special-attack}}</li>
        <li>SP. DEFENSE: {{stats.special-defense}}</li>
        <li>SPEED: {{stats.speed}}</li>
    </ul>
</div>

