
<div class="bg-community">
<h2>Welcome back to the Community, {{loggedInUser}}!</h2>

{{#each pokemons}} 
<ul class="community-feed">

{{!-- (<sort!-1> </sort!-1>) --}}
    <img src="{{imageUrl}}" alt="" srcset="">
    <div>
    <h4>Name: {{name}}</h4>
    {{!-- --> doesn't link to details yet --}}
    <p>{{rating}}</p>
    <p>Description: {{description}}</p>
    <p>Creator: {{user.username}}</p>
    </div>
     
</ul>
{{/each}}  

<ul>
<li><a href="/create">Create Pokemon</a></li>
<li><a href="/mypokemons">My Pokemons</a></li>
</ul>
</div>

{{!-- sort !-1 --}}

{{!-- populate user --}}