<div class="bg-community">

        {{#each pokemons}}
        <div class="card">
                <div class="community-feed">
                        <img src="{{imageUrl}}" alt="">
                        <div>
                                <h3>{{name}}</h3>
                                <p><span class="bold">Description</span>: {{description}}</p>
                                <p><span class="bold">type</span>: {{type.name}}</p>
                                {{#each reviews}}
                                <div>
                                        <p><span class="bold">Reviews:</span></p>
                                        <p>{{comment}}</p>
                                        <p class="smfont">by: {{name}}</p>
                                </div>
                                {{/each}}

                        </div>

                </div>
                <div class="card-bottom-btns">

                        <h5><a href="/community/{{id}}/edit">Edit Pokemon</a></h5>

                        <form action="/community/{{id}}/delete" method="POST">
                               <h5><button type="submit">Delete</button></h5>
                        </form>

                </div>
        </div>
        {{/each}}

</div>