<h1>Edit Pokemon</h1>
<form action="/community/{{pokemon.id}}/edit" method="POST" enctype="multipart/form-data">

    <label>Name</label>
    <input type="text" name="name" value="{{pokemon.name}}" />
    <label>Description</label>
    <textarea rows="5" cols="20" name="description">{{pokemon.description}}</textarea>
    <label>Rating</label>
    <input type="number" name="rating" value="{{pokemon.rating}}" />
    <label>Image</label>
    <input type="file" name="image" />

    {{!-- <label>Type</label>
    <select name="type">
        <option value="{{id}}" selected>select type</option>
        {{#each poketypes}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select> --}}

    <button type="submit">Update</button>
</form>

