
<h1 class="capitalize">{{name}}</h1>

<img src="{{sprites.other.official-artwork.front_default}}" alt="">

<h3>Type(s): </h3>
    {{#each types}}

    <p>{{type.name}}</p>

    {{/each}}

<div id="stats">
    <h2>Stats:</h2>
    <ul>
        <li>HP: {{stats.0.base_stat}}</li>
        <li>ATTACK: {{stats.1.base_stat}}</li>
        <li>DEFENSE: {{stats.2.base_stat}}</li>
        <li>SP. ATTACK: {{stats.3.base_stat}}</li>
        <li>SP. DEFENSE: {{stats.4.base_stat}}</li>
        <li>SPEED: {{stats.5.base_stat}}</li>
    </ul>
</div>

